// Variables

/* color */
$color-primary: #f3e9f1;
$color-secondary: #ff2f5c;

/* font */
$font-title: "Shrikhand", sans-serif;
$font-text: "Raleway", sans-serif;

//Mixins

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
header {
  @include flex-center();
  background-color: $color-primary;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }
}
footer {
  background: $color-primary;
}
a {
  color: black;
  text-decoration: none;
}
label {
  margin-bottom: 1rem;
}
select {
  margin-bottom: 1rem;
}
input {
  margin-bottom: 1rem;
}

figcaption {
  width: 100%;
}

.logo {
  @include flex-center();
  @media (max-width: 768px) {
    width: 100%;
  }
}
.row {
  margin-bottom: 20px;
}

.navbar {
  width: 150px;
  margin-right: 25px;
}
#productList {
  @include flex-center();
}
.productWrapper {
  @include flex-center();

  font-family: $font-text, sans-serif;
  text-align: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 20px;

  .imgWrapper {
    img {
      width: 100%;
      height: 300px;
    }
  }
  .sale-label {
    color: #fff;
    background-color: $color-secondary;
    text-transform: uppercase;
    padding: 2px 7px;
    position: absolute;
    top: 10px;
    left: 0;
  }
  .discount-label {
    background-color: $color-secondary;
    position: absolute;
    left: auto;
    right: 0;
    top: 10px;
    color: white;
    padding: 2px 7px;
  }
  .rating {
    @include flex-center();
    padding-left: 0px;
  }
  .fa-star {
    color: #ffe600;
    padding: 10px;
  }
  .disable {
    color: black;
  }
  .AddToIcones {
    width: 150px;
    padding: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transform: translateY(-50%) translateX(-50%);

    li {
      display: inline-block;
    }
    li a {
      color: #fff;
      background-color: #333;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      height: 40px;
      width: 40px;
      margin: 0 2px;
      display: block;
      position: relative;
      top: 50%;
    }
  }
}
.product-wrapper:hover .choice-list {
  opacity: 1;
}

#productPageImage {
  width: 100%;
  height: 100%;
}
.descriptionWrapper {
  display: flex;
  flex-direction: column;
}

.container-footer {
  margin-bottom: 0px;
}
.footer {
  @include flex-center();
  justify-content: space-between;
  padding-top: 10px;
}
